{% extends 'base.html.twig' %}

{% block title %}MediGlob | Réinitialisation Mot de passe{% endblock %}

{% block body %}
    <div class="intro" style="padding-top: 200px!important;margin-bottom: 100px!important;">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 m-auto">
                    {% for label, flashes in app.session.flashbag.all %}
                        {% for flash in flashes %}
                            {% if ( label == 'success' ) %}
                                <div class="alert alert-success alert-dismissible text-center fade show">
                                    {{ flash }}
                                </div>
                            {% elseif ( label == 'error' ) %}
                                <div class="alert alert-danger alert-dismissible text-center fade show">
                                    {{ flash }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 m-auto border border-light rounded shadow-lg p-5">
                    <div class="text-center"><h1>Réinitialisation du mot de passe</h1></div>
                    {{ form_start(form) }}
                    {{ form_row(form.plainPassword) }}
                    <div class="text-right">
                        <button type="submit" class="btn btn-primary">
                            Modifier
                        </button>
                    </div>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}