{% extends 'base.html.twig' %}

{% block body %}
    <br><br><br><br><br><br><br>
    {% for label, flashes in app.session.flashbag.all %}
        {% for flash in flashes %}
            {% if ( label == 'success' ) %}
                <div class="alert alert-success alert-dismissible text-center fade show">
                    {{ flash }}
                </div>
            {% elseif ( label == 'error' ) %}
                <div class="alert alert-danger alert-dismissible text-center fade show">
                    {{ flash }}
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}

    <div class="col-lg-10 intro_col offset-1">
        <div class="intro_form_container">
            <div class="intro_form_title">Inscription Praticien</div>
            <form action="" class="intro_form" id="intro_form" method="post">
                {{ form_start(form) }}

                <div class="d-flex flex-row align-items-start justify-content-between flex-wrap">
                    <div class="col-lg-6">
                        {{ form_row(form.civility) }}
                        {{ form_row(form.last_name) }}
                        {{ form_row(form.first_name) }}
                        {{ form_row(form.birth_date) }}
                        {{ form_row(form.address_pro) }}
                        {{ form_row(form.postal_code_pro) }}
                        {{ form_row(form.city_pro) }}
                    </div>
                    <div class="col-lg-6">
                        {{ form_row(form.email_pro) }}
                        {{ form_row(form.email_secretariat) }}
                        {{ form_row(form.phone_number_pro) }}
                        {{ form_row(form.mobile_phone_number_pro) }}
                        {{ form_row(form.RPPS) }}
                        {{ form_row(form.plainPassword) }}
                        {{ form_row(form.plainPassword) }}

                    </div>
                </div>
                {{ form_end(form) }}<br>
            </form>
            <button type="submit" class="button button_1 intro_button trans_200 button-rdv" href="{{ path('app_espacepraticienloggedin_logout') }}">S'inscrire</button>
            {{ form_end(form) }}<br>
        </div>
    </div><br><br>
{% endblock %}