{% extends 'espace_patient_logged_in/index.html.twig' %}

{% block title %}Prendre un Rendez-vous{% endblock %}

{% block body %}

<div class="intro" style="padding-top: 200px!important;margin-bottom: 100px!important;">
    <div class="container">
        <div class="row">
            <div class="patient_container">
                <h1>Prendre un Rendez-Vous</h1>


                <form method="post">
                    <div >
                        <div class="etiquette-etape">
                            <div>1</div>
                        </div>
                        {#{{ dump(specialites) }}#}
                        <div class="etape">
                            <h3>Rechercher une spécialisation :</h3>
                            {% if specialites is empty %}
                            <p>Acune spécialité trouvée...</p>
                            {% else %}
                            <select id="spec" name="choixspecialite">
                                <option value="aucun">-- Choisissez --</option>
                                {% for spe in specialites %}
                                    <option value="{{ spe.libelle}}">{{ spe.libelle }}</option>
                                {% endfor %}
                            </select>
                            {% endif %}
                        </div>
                        <hr>
                    </div>

                    <div class="display-none choix-medecin">
                        <div class="etiquette-etape">
                            <div>2</div>
                        </div>
                        <div class="etape select-medic">
                            <h3>Rechercher une spécialisation :</h3>
                            <select id='medic' name='toubib'>

                            </select>
                        </div>
                        <hr>
                    </div>

                    <div class="display-none check-dispo">
                        <div class="etiquette-etape">
                            <div>3</div>
                        </div>

                        <hr>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>

        $(document).ready(function(){
            $("#spec").on("change",function(e){
                if($("#spec").val()==="aucun"){
                    $(".choix-medecin").fadeOut(800);
                    $(".check-dispo").fadeOut(800);
                }
                else{
                    var specialite=$("#spec").val();
                    $.ajax({
                        url : '{{ path('app_espacepatientloggedin_servicelistmedicpourunespecialite') }}',
                        type : 'POST',
                        data: {
                            specialite:specialite,
                        },
                        dataType : "json",

                        success : function(response, statut){
                            console.log(statut);
                            console.log(response);
                            let resp=JSON.parse(response);
                            switch (resp['status']){
                                case "ok":
                                    $("#medic").html(resp['payload']);
                                    $(".choix-medecin").fadeIn(800);
                                    $(".check-dispo").fadeOut(800);
                                break;

                                case "empty":
                                    $(".select-medic").html(resp['payload']);
                                    $(".choix-medecin").fadeIn(800);
                                    $(".check-dispo").fadeOut(800);
                                break;
                            }
                        },

                        error : function(resultat, statut, erreur){
                            alert(statut);
                            alert(erreur);
                            alert(resultat);
                        },

                        complete : function(resultat, statut){

                        }

                    });

                }

            });


            $("#medic").on("change",function(){
                if($("#medic").val()==="aucun") {
                    $(".check-dispo").fadeOut(800);
                }
                else{
                    //ajax qui va reafficher le bouton de validation avec la bonne route cible
                    var praticienId=$("#medic").val();
                    $.ajax({
                        url : '{{ path('app_espacepatientloggedin_servicesetresabtnroute') }}',
                        type : 'POST',
                        data: {
                            praticienId:praticienId,
                        },
                        dataType : "json",

                        success : function(response, statut){
                            console.log(statut);
                            console.log(response);
                            let resp=JSON.parse(response);
                            switch (resp['status']){
                                case "ok":
                                    $(".check-dispo").append(resp['payload']);
                                    $(".check-dispo").fadeIn(800);
                                    break;

                                case "empty":
                                    $(".check-dispo").fadeOut(800);
                                    break;
                            }
                        },

                        error : function(resultat, statut, erreur){
                            alert(statut);
                            alert(erreur);
                            alert(resultat);
                        },

                        complete : function(resultat, statut){

                        }

                    });
                }
            });
        });
    </script>

{% endblock %}